import /init.recovery.hi6250.usb.rc

on fs
    start fixlinks

service fixlinks /system/bin/fixlinks.sh
    oneshot
    disabled
    seclabel u:r:recovery:s0

service oeminfo_nvm /system/bin/true
    disabled

on boot
    chown system system /sys/devices/platform/ff100000.hisi_usb/plugusb
    chmod 0660 /sys/devices/platform/ff100000.hisi_usb/plugusb